@model Tradie.Models.Products.Product

@{
    var categoryName = ViewData["CategoryName"] as string ?? Model.Category?.Name ?? "SinCategoria";
    var subcategory = Model.Subcategory ?? "SinSubcategoria";
    var productUrl = $"/Category{categoryName}/{subcategory}/{Model.Id}";
}

<div class="card">
    <div class="image-container">
        <!-- Image -->
        <a href="@productUrl">
            <img src="@(string.IsNullOrEmpty(Model.ImageUrl) ? Url.Content("~/images/default-product.png") : Model.ImageUrl)" class="card-img-top" alt="@Model.Name">
        </a>

        <!-- Favorite Button -->
        @{
            var isFavorited = ViewBag.WishlistProductIds != null &&
            ((List<int>)ViewBag.WishlistProductIds).Contains(Model.Id);
        }

        <form asp-controller="Wishlist"
              asp-action="ToggleWishlistItem"
              method="post"
              class="d-inline">
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="returnUrl" value="@($"{Context.Request.Path}{Context.Request.QueryString}")" />
            <button type="submit"
                    class="favorite-btn btn-sm favorite-btn @(isFavorited ? "favorited" : "")"
                    onclick="toggleHeart(this)">
                <i class="bi @(isFavorited ? "bi-heart-fill" : "bi-heart")"></i>
            </button>
        </form>
    </div>

    <!-- Card Body -->
    <div class="card-body">
        <a href="@productUrl">
            
           <h5 class="card-title">@Model.Name</h5>
            <p class="card-text"> @Model.Description</p>
            <h5 class="card-price">@Model.Price</h5>
        </a>

        <!-- Add to Cart -->
        <form asp-controller="ShoppingCart"
              asp-action="AddToCart"
              method="post"
              class="w-100">
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="returnUrl" value="@($"{Context.Request.Path}{Context.Request.QueryString}")" />
            <button type="submit"
                    class="add-to-cart-btn btn-sm add-to-cart-btn @(ViewBag.CartProductIds != null && ((List<int>)ViewBag.CartProductIds).Contains(Model.Id) ? "added disabled" : "")"
            @(ViewBag.CartProductIds != null && ((List<int>)ViewBag.CartProductIds).Contains(Model.Id) ? "disabled" : "")
                    onclick="toggleCart(this)">
                @(ViewBag.CartProductIds != null && ((List<int>)ViewBag.CartProductIds).Contains(Model.Id) ? "Añadido en la cesta" : "Añadir a la cesta")
                <i class="bi @(ViewBag.CartProductIds != null && ((List<int>)ViewBag.CartProductIds).Contains(Model.Id) ? "bi-cart-check" : "bi-cart")"></i>
            </button>
        </form>
    </div>
</div>