@using Tradie.Models.Users


@model UserManagementViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    ViewData["Title"] = "User Management";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management Page</title>
    <link rel="stylesheet" href="~/css/UserManagement.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tradie.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Murecho:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="admin-header bg-white border-bottom shadow-sm py-3 px-4 d-flex justify-content-between align-items-center">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo">
                    <a class="navbar-brand fs-4 fw-bold text-dark" asp-area="" asp-controller="Home" asp-action="Index">Tradie Admin</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="Global-Container">
        <!-- This is the container for the sidebar-->
        <div class="sidebar-Container">
            <div class="Admin-Management">
                <p>Gestión Admin</p>
            </div>
            <button type="button" onclick="toggleMenu('productMenu')">📦Gestión de productos</button>
            <dl id="productMenu">
                <a asp-controller="ProductManagement" asp-action="ProductRegistry">-Registro de productos</a>
            </dl>

            <button type="button" onclick="toggleMenu('userMenu')">👥Gestión de usuarios</button>
            <dl id="userMenu">
                <a asp-controller="Users" asp-action="Index">-Registro de usuarios</a>
            </dl>
            <button type="submit" class="Extra">👤+ Roles</button>
            <button type="submit" class="Extra">👤✏️ Permisos</button>

            <div class="Extra-Buttons">
                <button type="submit" class="Extra">⚙ Configuración</button>
                <button type="submit" class="Extra">🚪Cerrar sesión</button>
            </div>
        </div>
        <!-- Container of CRUD -->
        <div class="CRUD_Container">
            <div>
                <h1>Gestión de usuarios</h1>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <td class="Name">Name&ID</td>
                            <td class="Email">Email</td>
                            <td class="Role">Role</td>
                            <td class="Status">Status</td>
                            <td class="Action">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.Users)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <p>@u.Name ID:@u.Id</p>
                                    </div>
                                </td>
                                <td>@u.Email</td>
                                <td>34</td>
                                <td>@u.Role</td>
                                <td></td>
                                <td>
                                    <div>
                                        <button class="Edit-Button" data-user-id="@u.Id" data-user-name="@u.Name" data-user-lastnames="@u.LastNames" data-user-email="@u.Email" data-user-role="@u.Role">Editar usuario</button>

                                        <button class="Delete-Button" data-user-id="@u.Id" data-user-name="@u.Name" asp-controller="Users" asp-action="Delete">Eliminar usuario</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="Create-Button-Container">
                <button class="Create-Button" asp-controller="Users" asp-action="Edit">Crear usuario</button>
            </div>
        </div>
    </div>
    <!--Button to create users-->
    <!--Pop ups-->
    <!--Create user Pop-Up-->
    <dialog id="CreateUser-PopUp">
        <div class="User-LabelForm-Container">
            <div class="Title-Container">
                <h1 class="UserCreation">Creación de Usuario</h1>
                <button id="closeCreatePopUp" class="CloseButton">X</button>
            </div>
            <div>
                <!--form-Containers-->
                <div>
                    <form class="UserCreation" asp-controller="Users" asp-action="Create" method="post">
                        @Html.AntiForgeryToken()
                        <!--<input type="hidden" asp-for="CurrentUser.Id" />-->
                        <div class="User-Form-Container" >
                            <div class="UserCreation">
                                <label asp-for="CurrentUser.Name">Nombre*</label>
                                <input asp-for="CurrentUser.Name" type="text" />
                                <span asp-validation-for="CurrentUser.Name" class="text-danger"></span>

                                <label asp-for="CurrentUser.Email">Dirección de correo electrónico*</label>
                                <input asp-for="CurrentUser.Email" type="email" />
                                <span asp-validation-for="CurrentUser.Email" class="text-danger"></span>
                            </div>
                            <div class="UserCreation">
                                <label asp-for="CurrentUser.LastNames">Apellidos*</label>
                                <input asp-for="CurrentUser.LastNames" type="text" />

                                <label asp-for="CurrentUser.Password">Contraseña*</label>
                                <input asp-for="CurrentUser.Password" type="password" />
                                <span asp-validation-for="CurrentUser.Password" class="text-danger"></span>

                                <label asp-for="CurrentUser.Role">Rol*</label>
                                <select asp-for="CurrentUser.Role">
                                    <option value="@UserRole.Customer">Cliente</option>
                                    <option value="@UserRole.Seller">Proveedor</option>
                                    <option value="@UserRole.Admin">Administrador</option>
                                </select>
                                <span asp-validation-for="CurrentUser.Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="Create-Button-Container">
                            <button type="submit" class="Create-User" id="confirmCreate">Crear usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
    <!--Edit user Pop-Up-->
    <dialog id="EditUser-PopUp">
        <div class="User-LabelForm-Container">
            <div class="Title-Container">
                <h1 class="UserCreation">Modificación de Usuario</h1>
                <button id="closeEditPopUp" class="CloseButton">X</button>
            </div>
            <div>
                <!--form-Containers-->
                <div>
                    <form class="UserCreation" asp-controller="Users" asp-action="Edit" method="post">
                        @Html.AntiForgeryToken()

                        <input type="hidden" asp-for="CurrentUser.Id" id="editUserId" />
                        <div class="User-Form-Container">
                            <div class="UserCreation">
                                <label asp-for="CurrentUser.Name">Nombre</label>
                                <input id="editUserName" asp-for="CurrentUser.Name" type="text" />
                                <span asp-validation-for="CurrentUser.Name"></span>

                                <label asp-for="CurrentUser.Email">Dirección de correo electrónico</label>
                                <input id="editUserEmail" asp-for="CurrentUser.Email" type="email" />
                                <span asp-validation-for="CurrentUser.Email"></span>
                            </div>
                            <div class="UserCreation">
                                <label asp-for="CurrentUser.LastNames">Apellidos</label>
                                <input asp-for="CurrentUser.LastNames" id="editUserLastNames" type="text" />

                                <label asp-for="CurrentUser.Role">Rol</label>
                                <select id="editUserRole" asp-for="CurrentUser.Role">
                                    <option value="@UserRole.Customer">Cliente</option>
                                    <option value="@UserRole.Seller">Proveedor</option>
                                    <option value="@UserRole.Admin">Administrador</option>
                                </select>
                                <span asp-validation-for="CurrentUser.Role"></span>
                            </div>
                        </div>
                        <!--Edit button-->
                        <div class="Create-Button-Container">
                            <button type="submit" class="Create-User" id="confirmEdit">Modificar usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dialog>
    <dialog id="DeleteUser-PopUp" class="Delete-Container">
        <h1 class="Delete-User">Confirmación de eliminación de usuario</h1>
        <p class="Delete-User">&iquest;Est&aacute;s seguro de que quieres eliminar este usuario?</p>
        <div class="User-Delete-PopUp">
            <div class="User-Container-Name">
                <h3 id="deleteUserNameMessage"></h3>
                <p id="deleteUserIdMessage"></p>
            </div>
        </div>
        <form method="post" asp-controller="Users" asp-action="Delete">
            <input type="hidden" id="deleteUserId" name="id" value="" />
            <div class="Delete-Button-Container">
                <button type="submit" id="confirmDelete" class="Confirm-Delete-Button">Confirmar</button>
                <button type="button" id="closeDeletePopUp" class="Close-Delete-Button">Cancelar</button>
            </div>
        </form>
    </dialog>
    <script src="~/js/UserManagement.js" asp-append-version="true"></script>
</body>
</html>
